<div class="page">
  <div class="page-container">
    <div class="category">
      <img src="img/common/angular-icon.png" class="icon-center">
      <div class="cat table-center"><span class="cell-center">Man</span></div>
      <div class="cat table-center"><span class="cell-center">Woman</span></div>
      <div class="cat table-center"><span class="cell-center">Accessories</span></div>
      <div class="cat table-center"><span class="cell-center">Handbags</span></div>
    </div>
  </div>
</div>
