@import "~bootstrap/scss/variables";

@import "var";
@import "mixin";

.table-center {
  display: table;
  width: 100%;

  .cell-center {
    display: table-cell;
    vertical-align: middle;
  }
}

.page {
  min-height: calc(100vh - #{80 + 30*2}px);
  position: relative;
}
