$enable-shadows: true;

$overlay-bg: rgba(0, 0, 0, 0.6);
$dock-bg: $overlay-bg;
$dock-height: 80px;

$sub-color-1: #d64444;
$sub-color-2: #6c9426;
$sub-color-3: #35a3c3;
$light-color: #fff;

$pannel-bg: rgba(255, 255, 255, 0.8);
